@model  BookMVCApplication.Models.Book
@{
    ViewBag.Title = "BookDetail";
}

<h2>Details </h2>

<div class="container-fluid">
    <p>@Model.Id</p>
    <p><a class="btn btn-default" href="https://localhost:44391/Home/About">Go Back &raquo;</a></p>
</div>

